:root {
    --s1: #128BB4;
    --s2: #31505B;
    --s3: #002937;
    --r1: #FF8B10;
    --r2: #806344;
    --r3: #4E2800;
    }
html {
    font-size: 6vw;
    margin: 0;
    padding: 0;
    }
nav {
    margin: 0;
    padding: 0.2rem 0.5rem;
    background-color: var(--s1);
    }
a {
    color: var(--s3);
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
}
h3 {
    margin: 0.5rem;
    text-align: center;
    color: var(--);
    }
select {
    font-size: 1rem;
    }
input {
    width: 80vw;
    font-size: 1rem;
    border: solid 0.05rem;
    border-color: var(--s1);
    }
.input {
    margin-left: 0.5rem;
    display: inline-block;
    width: 16vw;
    }
body {
    margin: 0;
    }
table, th, td {
    border: solid;
    border-collapse: collapse;
    text-align: center
    }
table {
    width: 100vw;
    }
table a {
    color: blue
    }
img {
    margin-left: 0.5rem;
    max-width: 50%;
    float: right;
    }
.text-all-width {
    margin: 0.5rem;
    text-align: justify;
    }
.center {
    text-align: center;
    }
.row {
  display: flex;
    }

.column {
  flex: 50%;
  text-align: center;
    }
div > div > table {
    width: 20vw;
    border-width: 0;
    }
.checkbox {
    width: 0.5rem;
    height: 0.5rem;
    border: solid red 0.5rem;
    }
.checkbox2 {
    display: inline-block;
    width: 4vw;
    }
.emit{
    padding: 0, 1rem;
    background-color: var(--s1);
    color: var(--s3);
    }
.button {
    margin: auto;
    display: block;
    width: 98vw;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--r1);
    color: var(--r3);
    padding: 0.1rem;
    border: 0.07rem solid var(--r3)
    }
.button:hover {
    text-decoration: underline;
    }
.button2:hover {
    text-decoration: underline;
    }
.button2 {
    margin: 0.2rem;
    display: inline-block;
    width: 30vw;
    text-align: center;
    text-decoration: none;
    background-color: var(--r1);
    color: var(--r3);
    padding: 0.1rem;
    border: 0.07rem solid var(--r3)
    }
.vertical-text {
    writing-mode:tb-rl;
    padding: 1rem 0;
    transform: rotate(180deg);
    }
.gray {
    color: gray
    }
