<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>new_default_time</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    <br/><br/>
    <a href="/admin">admin</a>
    <br/><br/>
    <a href="/admin/default_time">график записи на день</a>
    <br/>
    <a href="/admin/new_default_time">добавить новое время записи</a>
</nav>
<span th:if="${success} == 'Y'" id="disappear" >
    Время успешно добавлено!
    <button onclick="hideText()">x</button>
</span>
<form action="/admin/new_default_time" method="post" th:object="${defaultTime}">
    введите желаемое время записи на прием<input name="time" type="time" th:field="*{time}">
    <x th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Error</x>
    <input type="submit" value="подтвердить">
</form>
<script src="/src/main/resources/static/script/disappear.js" th:src="@{../script/disappear.js}"></script>
</body>
</html>