<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>admin_all_default_time</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Администратор</a>
    |
    <a href="/admin/new_default_time">Добавить новое время записи</a>
</nav>
<h3>Общее возможное время записи</h3>
<table>
    <tr>
        <th>Время</th>
        <th>Удаление</th>
    </tr>
    <tr th:each="time : ${defaultTime}">
        <td th:text="${time.time}">11:20</td>
        <td><a th:href="@{delete_default_time/} + ${time.id}" style="width: 85vw" class="button">удалить</a></td>
    </tr>
</table>
</body>
</html>