<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all_therapies</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Admin</a>
    |
    <a href="/admin/create_new_product">Добавить продукт</a>
</nav>
<table style="font-size: 0.5rem">
    <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Время</th>
        <th>Вкл/выкл</th>
        <th>Приоритет</th>
        <th>Подробнее</th>
<!--        <th>Удаление</th>-->
    </tr>
    <tr th:each="prod : ${listOfProducts}">
        <td th:text="${prod.productName}">Наименование продукта</td>
        <td th:text="${prod.cost}">1000</td>
        <td th:text="${prod.duration}">999</td>
        <td><a th:text="${prod.actual}" th:href="@{active_product/} + ${prod.id}">true</a></td>
        <td th:text="${prod.priority}">9</td>
        <td><a th:href="@{show_one_product/} + ${prod.id}">подробнее</a></td>
<!--        <td><a th:href="delete_product + '/' + ${prod.id}">удалить</a></td>-->
    </tr>
</table>
</body>
</html>