<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all_days</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Администратор</a>
</nav>
<div>
    <a th:href="all_days + '?' + week + '=' + ${before}" class="button2"><--назад</a>
    <span style="display: inline-block; width: 52vw"></span>
    <a th:href="all_days + '?' + week + '=' + ${after}" class="button2">вперед--></a>
</div>
<div class="row">
    <div class="column">
        <table>
            <tr>
                <th>
                    <a th:href="admin_one_day + '/' + ${d1.getDate().getTime()}" th:text="${#dates.format(d1.date, 'EE dd.MM')}">
                        01.02.2022
                    </a>
                </th>
            </tr>
            <tr th:each="dayTime : ${d1.getDayTimes()}">
                <td th:if="${!dayTime.isTimeIsFree()}" class="emit" th:text="${dayTime.localTime}"></td>
                <td th:if="${dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}"></td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <th>
                <a th:href="admin_one_day + '/' + ${d2.getDate().getTime()}" th:text="${#dates.format(d2.date, 'EE dd.MM')}">
                    01.02.2022
                </a>
            </th>
            <tr th:each="dayTime : ${d2.getDayTimes()}">
                <td th:if="${!dayTime.isTimeIsFree()}" class="emit" th:text="${dayTime.localTime}"></td>
                <td th:if="${dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}"></td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <th>
                <a th:href="admin_one_day + '/' + ${d3.getDate().getTime()}" th:text="${#dates.format(d3.date, 'EE dd.MM')}">
                    01.02.2022
                </a>
            </th>
            <tr th:each="dayTime : ${d3.getDayTimes()}">
                <td th:if="${!dayTime.isTimeIsFree()}" class="emit" th:text="${dayTime.localTime}"></td>
                <td th:if="${dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}"></td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <th>
                <a th:href="admin_one_day + '/' + ${d4.getDate().getTime()}" th:text="${#dates.format(d4.date, 'EE dd.MM')}">
                    01.02.2022
                </a>
            </th>
            <tr th:each="dayTime : ${d4.getDayTimes()}">
                <td th:if="${!dayTime.isTimeIsFree()}" class="emit" th:text="${dayTime.localTime}"></td>
                <td th:if="${dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}"></td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table>
            <th>
                <a th:href="admin_one_day + '/' + ${d5.getDate().getTime()}" th:text="${#dates.format(d5.date, 'EE dd.MM')}">
                    01.02.2022
                </a>
            </th>
            <tr th:each="dayTime : ${d5.getDayTimes()}">
                <td th:if="${!dayTime.isTimeIsFree()}" class="emit" th:text="${dayTime.localTime}"></td>
                <td th:if="${dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>