<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
    <br>
    <a class="button" href="/">Главная</a>
    <br/><br/>
    <a class="button" href="/admin/all_days">показать рабочие дни</a>
    <br/><br/>
    <a class="button" href="/admin/admin_all_products">Показать все продукты</a>
    <br/>
    <a class="button" href="/admin/create_new_product">Создать новый продукт</a>
    <br/><br/>
    <a class="button" href="/admin/active_new_month">Открыть запись на текущий месяц</a>
    <br/>
    <a class="button" href="/admin/active_new_month?next=yes">Открыть запись на следующий месяц</a>
    <br/><br/>
    <a class="button" href="/admin/default_time">график записи на день</a>
    <br/>
    <a class="button" href="/admin/new_default_time">добавить новое время записи</a>
</body>
</html>