<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>one_day</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Администратор</a>
    |
    <a href="/admin/all_days">Показать все рабочие дни</a>
</nav>

<h3 th:text="${#dates.format(day.getDate(), 'EEEE dd.MM.yyyy')}"> 23.11.1985</h3>
<table>
    <thead>
        <th>время</th>
        <th>активность</th>
        <th>Информация</th>
    </thead>
    <tr th:each="dayTime : ${dayTimeList}">
        <td th:text="${dayTime.localTime}">11:40</td>
        <td><a th:text="${dayTime.timeIsFree}"
               th:href="'/' + admin + '/' + daytime_active + '/'
               + ${dayTime.id} + '/' + ${day.getDate().getTime()}">true</a></td>
        <td th:if="${dayTime.getTherapy()} != null"><a th:href="'/' + admin + '/' + one_therapy + '/' + ${dayTime.id}">терапия</a></td>
        <td th:if="${dayTime.getTherapy()} == null"></td>
    </tr>
</table>
<br>
<a th:if="${thereIsNoTherapyThisDay}" class="button"
   th:href="'/' + admin + '/' + delete_day + '/' + ${day.getId()}">удалить день</a>
</body>
</html>