<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>KrylovaDi</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Admin</a>
    |
    <a href="/admin/update_login_info">Сменить пароль</a>
</nav>
<body>
<h3>Обновление данных пользователя</h3>
    <form action="/admin/update_info" method="post" th:object="${information}">
        Описание:
        <br>
        <textarea style="font-size: 1rem" cols="25" rows="5" type="text"
                  name="shortInformation" th:field="*{shortInformation}"></textarea>
        <br><br>
        <input class="button" type="submit" value="Обновить информацию">
        <br>
    </form>
</body>
</html>