<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:form="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Open recording</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Admin</a>
</nav>
<body>
Выбираем по каким числам будем работать:
<form action="/admin/active_new_month" method="post" >
    <input class="checkbox" type="checkbox" name="1" value="1"><span class="checkbox2">1</span>
    <input class="checkbox" type="checkbox" name="2" value="2"><span class="checkbox2">2</span>
    <input class="checkbox" type="checkbox" name="3" value="3"><span class="checkbox2">3</span>
    <input class="checkbox" type="checkbox" name="4" value="4"><span class="checkbox2">4</span>
    <input class="checkbox" type="checkbox" name="5" value="5"><span class="checkbox2">5</span>
    <input class="checkbox" type="checkbox" name="6" value="6"><span class="checkbox2">6</span>
    <input class="checkbox" type="checkbox" name="7" value="7"><span class="checkbox2">7</span>
    <br><br>
    <input class="checkbox" type="checkbox" name="8" value="8"><span class="checkbox2">8</span>
    <input class="checkbox" type="checkbox" name="9" value="9"><span class="checkbox2">9</span>
    <input class="checkbox" type="checkbox" name="10" value="10"><span class="checkbox2">10</span>
    <input class="checkbox" type="checkbox" name="11" value="11"><span class="checkbox2">11</span>
    <input class="checkbox" type="checkbox" name="12" value="12"><span class="checkbox2">12</span>
    <input class="checkbox" type="checkbox" name="13" value="13"><span class="checkbox2">13</span>
    <input class="checkbox" type="checkbox" name="14" value="14"><span class="checkbox2">14</span>
    <br><br>
    <input class="checkbox" type="checkbox" name="15" value="15"><span class="checkbox2">15</span>
    <input class="checkbox" type="checkbox" name="16" value="16"><span class="checkbox2">16</span>
    <input class="checkbox" type="checkbox" name="17" value="17"><span class="checkbox2">17</span>
    <input class="checkbox" type="checkbox" name="18" value="18"><span class="checkbox2">18</span>
    <input class="checkbox" type="checkbox" name="19" value="19"><span class="checkbox2">19</span>
    <input class="checkbox" type="checkbox" name="20" value="20"><span class="checkbox2">20</span>
    <input class="checkbox" type="checkbox" name="21" value="21"><span class="checkbox2">21</span>
    <br><br>
    <input class="checkbox" type="checkbox" name="22" value="22"><span class="checkbox2">22</span>
    <input class="checkbox" type="checkbox" name="23" value="23"><span class="checkbox2">23</span>
    <input class="checkbox" type="checkbox" name="24" value="24"><span class="checkbox2">24</span>
    <input class="checkbox" type="checkbox" name="25" value="25"><span class="checkbox2">25</span>
    <input class="checkbox" type="checkbox" name="26" value="26"><span class="checkbox2">26</span>
    <input class="checkbox" type="checkbox" name="27" value="27"><span class="checkbox2">27</span>
    <input class="checkbox" type="checkbox" name="28" value="28"><span class="checkbox2">28</span>
    <br><br>
    <input th:if="${countOfDays} > 28" class="checkbox" type="checkbox" name="29" value="29">
    <span th:if="${countOfDays} > 28" class="checkbox2">29</span>
    <input th:if="${countOfDays} > 29" class="checkbox" type="checkbox" name="30" value="30">
    <span th:if="${countOfDays} > 29" class="checkbox2">30</span>
    <input th:if="${countOfDays} > 30" class="checkbox" type="checkbox" name="31" value="31">
    <span th:if="${countOfDays} > 30" class="checkbox2">31</span>
    <input type="month" hidden="hidden" name="month" th:value="${month}">
    <input type="text" hidden="hidden" name="year" th:value="${year}">
    <br><br>
    <input class="button" type="submit" value="Подтвердить">
    <br><br>
</form>

</body>
</html>