<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
</nav>
<form action="/admin/login" method="post">
    <br/>
    <span class="input">login:</span><br><input type="text" name="login">
    <br/><br/>
    <span class="input">password: </span><br><input type="password" name="password">
    <br/><br/>
    <input class="button" type="submit" value="Подтвердить">
</form>
</body>
</html>