<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:form="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>adding new product</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Admin</a>
    |
    <a href="/admin/admin_all_products">Все продукты</a>
</nav>
<body>
<h3>Создание нового продукта</h3>
<form action="/admin/post_create_new_product" method="post" th:object="${product}">
    Наименование:<br>
    <input type="text" th:field="*{productName}"><br>
    <x th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Error</x>
    <br/><br/>
    Стоимость [руб]: <br>
    <input type="text" th:field="*{cost}"><br>
    <x th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Error</x>
    <br/><br/>
    Длительность [мин]: <br>
    <input type="time" th:field="*{duration}"><br>
    <x th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Error</x>
    </select>
    <br/><br/>
    Описание: <br>
    <textarea style="font-size: 1rem" cols="25" rows="5" type="text" th:field="*{description}"></textarea><br>
    <x th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</x>
    <br/><br/>
    Актуальность: <select type="text" th:field="*{actual}">
        <option th:value="true">true</option>
        <option th:value="false">false</option><br>
    <x th:if="${#fields.hasErrors('actual')}" th:errors="*{actual}">Error</x>
    </select>
    <br/><br/>
    Приоритет: <br>
    <input type="text" th:field="*{priority}"><br>
    <x th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">Error</x>
    <br/><br/>
    <input class="button" type="submit" value="Подтвердить">
    <br><br>
</form>

</body>
</html>