<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>new_default_time</title>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Администратор</a>
    |
    <a href="/admin/default_time">График записи на день</a>
</nav>
<form action="/admin/new_default_time" method="post" th:object="${defaultTime}">
    <h3>Добавление нового времени записи на прием</h3>
    <span>Новое время: </span><input style="width: auto" name="time" type="time" th:field="*{time}">
    <x th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Error</x>
    <br><br>
    <input class="button" type="submit" value="подтвердить">
</form>
</body>
</html>