<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>KrylovaDi</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Администратор</a>
</nav>
<body>
<h3 style="background-color: red" th:if="${wrong}">Прежний логин или пароль не верен!</h3>
<h3>Обновление данных пользователя</h3>
    <form action="/admin/update_login_info" method="post">
        Старый логин: <input type="text" name="old_login">
        <br>
        Старый пароль: <input type="text" name="old_password">
        <br><br>
        Новый логин: <input type="text" name="new_login">
        <br>
        Новый пароль: <input type="password" name="new_password">
        <br><br>
        <input class="button" type="submit" value="Подтвердить">
        <br>
    </form>
</body>
</html>