<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org” xmlns:form="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Open recording</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/admin">Admin</a>
    |
    <a href="/admin/all_days">Все рабочие дни</a>
</nav>
<br>
<body>
На <strong th:text="${#dates.format(dataTimeLong, 'EEEE dd.MM.yyyy')}">какое-то число</strong> запись не открыта
<form action="/admin/post_create_new_day" method="post">
    <input type="number" hidden="hidden" name="dataTime" th:value="${dataTimeLong.getTime()}">
    <br>
    <input class="button" type="submit" value="Открыть запись"/>
</form>

</body>
</html>