<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all_therapies</title>
</head>
<nav>
    <a href="/">Главная</a>
</nav>
<body>
    <h3>Перечень оказываемых услуг:</h3>
<table style="border: none">
    <tr style="border: none" th:each="prod : ${listOfProducts}">
        <td style="border: none" th:if="${prod.isActual}"><a th:text="${prod.productName}"
               th:href="@{/product/} + ${prod.id}" class="button">Наименование продукта</a></td>
    </tr>
</table>
<br><br>

</body>
</html>