<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>KrylovaDi</title>
</head>
<nav>
    <a href="/all_therapies">Услуги</a>
    |
    <a href="/admin">Администратор</a>
<!--    |-->
<!--    <a href="/test">test</a>-->
</nav>
<body>
<img src="/src/main/resources/static/img/ya.jpg" th:src="@{/img/ya.jpg}">
<h3 style="text-align: left">Крылова <br>Дарья Сергеевна</h3>
<div class="text-all-width" th:text="${info}">
    trhrth dfhdyh dyhdyhdy dyhdtydt dyhdythdt yhjtyjftyh ybjfubjfuy bfumbuyf ubmyfubkm bumbuy bufmbyfufm ubjtyubjfy
    fyvfty urbmyubjfy brmuybjy brujyubjy buymbyujb ubrjyubf byubjytubj buymbuyjuy brujmbtyujb buryjbyuj rbjbuytbj
    rbjfuybj rbjbu jbfutj rbujbfuyj ubrjujbfyuf bujbryuj fubjruybjr byjfutyjk jbryubjy rbjurubjrt yjtybjrtyuj tryjrtjb
    rybjr7jb yjbrt7jb rbjubj urbjrubjrt rubjrubj rubjruybjt
</div>
<br />
<a class="button" href="/all_therapies">Услуги</a>
<br>
</body>
</html>