<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>therapy_updating</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/all_therapies">Перечень предлагаемых услуг</a>
    |
    <a href="/admin">admin</a>
</nav>
<body>
<h2><x th:text="${product.productName}">Название терапии</x></h2>
<div><strong>Стоимость: </strong><x th:text="${product.cost}">3000</x> руб</div>
<div><strong>Продолжительность: </strong><x th:text="${product.duration}">1 час 30 мин</x></div>
<a th:href="'/' + record + '/' + ${product.id}" class="button">записаться</a>
<div><strong>Описание: </strong>
    <br/>
    <x th:text="${product.description}">Какое-то описание</x>
</div>

</body>
</html>