<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>confirm</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/all_therapies">Услуги</a>
</nav>
<body>
<h3><x th:text="${product.productName}">Название терапии</x></h3>
<div>Стоимость: <x th:text="${product.cost}">3000</x> руб</div>
<div>Продолжительность: <x th:text="${product.duration}">1 час 30 мин</x></div>
<div>День и время записи:<br>
    <strong th:text="${#dates.format(day.getDate(), 'EEEE dd.MM.yyyy')}">23.11.2022</strong>
    <strong th:text="${dayTime.getLocalTime()}">11:00</strong>
</div>
<br>
<div>Введите контактные данные:</div>
<br>
<form th:action="@{/confirm/} + ${product.id} + '/' + ${dayTime.id}" th:object="${therapy}">
    <span class="input">Имя: </span><input type="text" th:field="*{name}">
    <x th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</x>
    <br/><br>
    <span class="input">Email: </span><input type="text" th:field="*{email}" placeholder="example@mail.ru">
    <x th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</x>
    <br/><br>
    <span class="input">Телефон: </span><input type="text" th:field="*{phoneNumber}" placeholder="8(123)123-12-12">
    <x th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Error</x>
    <br/><br>
    <input class="button" style="size: 0.8rem" type="submit" value="Подтвердить через email">
    <br><br>
</form>
</body>
</html>