<!doctype html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>record</title>
</head>
<nav>
    <a href="/">Главная</a>
    |
    <a href="/all_therapies">Услуги</a>
</nav>
<body>
<h3><x th:text="${product.productName}">Название терапии</x></h3>
<div><strong>Стоимость: </strong><x th:text="${product.cost}">3000</x> руб</div>
<div><strong>Продолжительность: </strong><x th:text="${product.duration}">1 час 30 мин</x></div>
<h3 th:if="${timeIsOccupy}" style="background: red">Выбранное время уже заняли. Пожалуйста, выберите другое время:</h3>
<h3 th:if="!${timeIsOccupy}">Выберите день и время:</h3>
<div>
    <a th:href="@{/record/} + ${product.id} + @{?week=} + ${before}" class="button2">Назад</a>
    <span style="display: inline-block; width: 25.17vw"></span>
    <a th:href="@{/record/} + ${product.id} + @{?week=} + ${after}" class="button2">Вперед</a>
</div>
<br>
<div class="row">
    <div class="column">
        <table>
            <tr>
                <th th:text="${#dates.format(d1.date, 'EE dd.MM')}">01.02.2022</th>
            </tr>
            <tr th:each="dayTime : ${d1.getDayTimes()}">
                <td th:if="${dayTime.isTimeIsFree()}">
                    <a th:text="${dayTime.localTime}"
                       th:href="@{/record/} + ${product.id} + '/' + ${dayTime.id}">9:00</a>
                </td>
                <td th:if="${!dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}" class="gray">9:00</td>
            </tr>
        </table>
        <span class="vertical-text" th:if="${d1.getDayTimes()} == null">Нет записи</span>
    </div>
    <div class="column">
        <table>
            <tr>
                <th th:text="${#dates.format(d2.date, 'EE dd.MM')}">01.02.2022</th>
            </tr>
            <tr th:each="dayTime : ${d2.getDayTimes()}">
                <td th:if="${dayTime.isTimeIsFree()}">
                    <a th:text="${dayTime.localTime}"
                       th:href="@{/record/} + ${product.id} + '/' + ${dayTime.id}">9:00</a>
                </td>
                <td th:if="${!dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}" class="gray">9:00</td>
            </tr>
        </table>
        <span class="vertical-text" th:if="${d2.getDayTimes()} == null">Нет записи</span>
    </div>
    <div class="column">
        <table>
            <tr>
                <th th:text="${#dates.format(d3.date, 'EE dd.MM')}">01.02.2022</th>
            </tr>
            <tr th:each="dayTime : ${d3.getDayTimes()}">
                <td th:if="${dayTime.isTimeIsFree()}">
                    <a th:text="${dayTime.localTime}"
                       th:href="@{/record/} + ${product.id} + '/' + ${dayTime.id}">9:00</a>
                </td>
                <td th:if="${!dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}" class="gray">9:00</td>
            </tr>
        </table>
        <span class="vertical-text" th:if="${d3.getDayTimes()} == null">Нет записи</span>
    </div>
    <div class="column">
        <table>
            <tr>
                <th th:text="${#dates.format(d4.date, 'EE dd.MM')}">01.02.2022</th>
            </tr>
            <tr th:each="dayTime : ${d4.getDayTimes()}">
                <td th:if="${dayTime.isTimeIsFree()}">
                    <a th:text="${dayTime.localTime}"
                       th:href="@{/record/} + ${product.id} + '/' + ${dayTime.id}">9:00</a>
                </td>
                <td th:if="${!dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}" class="gray">9:00</td>
            </tr>
        </table>
        <span class="vertical-text" th:if="${d4.getDayTimes()} == null">Нет записи</span>
    </div>
    <div class="column">
        <table>
            <tr>
                <th th:text="${#dates.format(d5.date, 'EE dd.MM')}">01.02.2022</th>
            </tr>
            <tr th:each="dayTime : ${d5.getDayTimes()}">
                <td th:if="${dayTime.isTimeIsFree()}">
                    <a th:text="${dayTime.localTime}"
                       th:href="@{/record/} + ${product.id} + '/' + ${dayTime.id}">9:00</a>
                </td>
                <td th:if="${!dayTime.isTimeIsFree()}" th:text="${dayTime.localTime}" class="gray">9:00</td>
            </tr>
        </table>
        <span class="vertical-text" th:if="${d5.getDayTimes()} == null">Нет записи</span>
    </div>
</div>
<br><br>
</body>
</html>